(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    waves: Some((
        source: File("neorv32_iceduino_top_tb.ghw"),
        format: Ghw,
        active_scope: Some(WaveScope((
            strs: [
                "neorv32_iceduino_top_tb",
                "neorv32_iceduino_inst",
            ],
        ))),
        displayed_items_order: [
            (1),
            (2),
            (3),
            (4),
            (5),
        ],
        displayed_items: {
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "neorv32_iceduino_top_tb",
                            "neorv32_iceduino_inst",
                            "iceduino_arduino_uart_inst",
                        ],
                    ),
                    name: "module_active",
                ),
                color: None,
                background_color: None,
                display_name: "module_active",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "neorv32_iceduino_top_tb",
                            "neorv32_iceduino_inst",
                        ],
                    ),
                    name: "uart_rx",
                ),
                color: None,
                background_color: None,
                display_name: "uart_rx",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "neorv32_iceduino_top_tb",
                            "neorv32_iceduino_inst",
                        ],
                    ),
                    name: "uart_tx",
                ),
                color: None,
                background_color: None,
                display_name: "uart_tx",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "neorv32_iceduino_top_tb",
                            "neorv32_iceduino_inst",
                            "iceduino_arduino_uart_inst",
                        ],
                    ),
                    name: "tx_o",
                ),
                color: None,
                background_color: None,
                display_name: "tx_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "neorv32_iceduino_top_tb",
                            "neorv32_iceduino_inst",
                            "iceduino_arduino_uart_inst",
                        ],
                    ),
                    name: "module_addr",
                ),
                color: None,
                background_color: None,
                display_name: "module_addr [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
        },
        display_item_ref_counter: 5,
        viewports: [
            (
                curr_left: (0.0),
                curr_right: (1.9440726472312235),
            ),
        ],
        cursor: Some((1, [
            918695552,
            113,
        ])),
        markers: {},
        focused_item: Some((4)),
        focused_transaction: (None, None),
        selected_items: [],
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: MicroSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_name_filter_type: Fuzzy,
    variable_name_filter_case_insensitive: true,
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)